.h3{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.41em;
}
.categories{
  margin-bottom: 5.27%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.6%;
 
  .categories-item{
    .all{
      color:#3BBEB6;
      font-weight: bold;
    }
    p{
      color:#313131;
      margin-top: 1em;
      font-size: 0.875em;
      font-weight: 400;
    }
    .categories-img{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}
@media(max-width:415px) {
.h3{
  margin-left: 18px;
}
 .categories{
  margin-right:18px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.1%;
.categories-item{
  width: 25%;
  margin-bottom: 10px;
  font-size: 14px;
}
 } 
}