button{
  font-family: inherit;
  font-size: 0.875em;
  padding: 0.93em 2.57em  0.94em 2.57em;
  background-color:#3BBEB6;
  border-radius: 40px;
  color: #ffff;
  border: none;
  font-weight: 500;
  cursor: pointer;

}