@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');
.App{
  font-family: 'Almarai';
  max-width: 1920px;
  margin: 0 auto;
  overflow:hidden;
  background-color:#ffff;
.wrapper{
  max-width: 71.1%;
  margin: 0 auto;
}
.line{
  width: 100%;
  border-bottom: 1px solid #A8ACB8;
}
.fetchError{
  color: red;
  text-align: center;
  margin-top: 1rem;
}
.loading{
  color: blue;
  text-align: center;
  margin-bottom: 1rem;
}
.required{
  font-size: 1rem;
  font-weight: bold;
}
}
@media(max-width:415px) {
  .App{
    max-width: 415px;
    .wrapper{
      max-width: 100%;
    }
    .line{
      display: none;
    }
  }
}